@font-face{
    font-family: kgm;
    src:url(../fonts/Kozuka-Ggothic Pro/KOZGOPRO-MEDIUM.otf);
}
@font-face{
    font-family: mpl;
    src:url(../fonts/MyriadPro/MyriadPro-Light.otf);
}
@font-face{
    font-family: mpb;
    src:url(../fonts/MyriadPro/MyriadPro-Bold.otf);
}
@font-face{
    font-family: treg;
    src:url(../fonts/Tahoma/TAHOMA.ttf);
}
@font-face{
    font-family: ;
    src:url(../fonts/);
}
@font-face{
    font-family: ;
    src:url(../fonts/);
}
@font-face{
    font-family: ;
    src:url(../fonts/);
}
@font-face{
    font-family: ;
    src:url(../fonts/);
}
@font-face{
    font-family: ;
    src:url(../fonts/);
}
@font-face{
    font-family: ;
    src:url(../fonts/);
}
@font-face{
    font-family: ;
    src:url(../fonts/);
}